{% extends "base.html" %}

{% block content %}
<h1 class="text display-5 fw-bold" style="white-space: pre-line">Небольшая сводка:</h1>
<div class="row mb-3" style="white-space: pre-line; margin-bottom: 40px; font-weight: bold; color: #000;">
    - Для api сохранения временно используется просто вариант /api/TMP/login
    - Сложные html темплейты многострадально созданы усилиями Людей, Документации и ещё кое-чего
    - Если хотите узнать больше обратитесь в поддержку на страничке обратной связи
</div>
<div>
    <a href="/" class="text-decoration-none"><h3>На главную</h3></a>
</div>
</div>
{% endblock %}