{% extends "base.html" %}

{% block content %}
<div>
    <div class="text-center">
        <img src="{{ url_for('static', filename='assets/icon.png') }}"
             width="150"
             height="150"
             class="mb-4"
             alt="Ошибка загрузки изображения">
    </div>
    <h1 class="text-center display-5 fw-bold" style="white-space: pre-line">Главная страница</h1>
    <div>
        <a href="/projects" class="text-decoration-none"><h3>Наши проекты</h3></a>
    </div>
    <div>
        <a href="/profile" class="text-decoration-none"><h3>Профиль</h3></a>
    </div>
    <div>
        <a href="/developers" class="text-decoration-none"><h3>Разработчики</h3></a>
    </div>
    <div>
        <a href="/re-help" class="text-decoration-none"><h3>Обратная связь</h3></a>
    </div>
</div>
{% endblock %}